:root {
  --white: rgb(255 255 255);
  --ghostWhite: rgb(245 244 250);
  --grey: rgb(117 117 117);
  --blackRock: rgb(47 48 58);
  --nero: rgb(33 33 33);
  --black: rgb(0 0 0);
  --dodgerBlue: rgb(33 150 243);
}

body {
  max-width: 1600px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  padding-inline: 20px;
}

nav a {
  color: var(--nero);
}

menu a {
  color: var(--grey);
}

nav a:hover,
menu a:hover {
  color: var(--dodgerBlue);
}
main {
  display: flex;
  flex-direction: column;
}
h1 {
  color: var(--white);
  font-size: 44px;
  font-weight: 900;
  margin: 0;
  padding-bottom: 30px;
  text-align: center;
}

h2 {
  text-align: center;
  color: var(--nero);
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 1.5px;
  padding: 80px 0 50px 0;
  margin: 0;
}

h3 {
  color: var(--nero);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--blackRock);
  height: 600px;
}

button {
  font-family: "Roboto", sans-serif;
  color: var(--white);
  background: var(--dodgerBlue);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 1.5px;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  box-shadow: 4px 4px rgb(0 0 0 /0.15);
  cursor: pointer;
}
article {
  width: 270px;
  color: var(--grey);
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
  padding-top: 80px;
}
.strengths {
  display: flex;
  justify-content: center;
}

.occupation {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}
.team {
  background: var(--ghostWhite);
  padding-bottom: 80px;
}
.team-photo {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
  background: var(--blackRock);
  height: 252px;
  padding-inline: 20px;
}
address {
  font-style: normal;
}

address a {
  color: var(--white);
  opacity: 0.6;
  line-height: 24px;
}
ul,
menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

figure {
  height: 368px;
  background: var(--white);
  margin: 0;
  border: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 2px rgb(0 0 0 /0.2);
}

li {
  display: inline-block;
  padding: 15px;
}

a {
  text-decoration: none;
}

.header-logo {
  font: bold 26px "Raleway", sans-serif;
  color: var(--black);
}

.footer-logo {
  font: bold 26px "Raleway", sans-serif;
  color: var(--white);
}

.blue {
  color: var(--dodgerBlue);
}
.employee {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.5px;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 10px;
  color: var(--nero);
}
.position {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 0;
  color: var(--grey);
}
